<p>addemployee works!</p>

<h3>Add employee</h3>

<div class="container-fluid">
    <form #empFrom="ngForm" (ngSubmit)="onSubmit(empFrom)">
        <div class="from-group">
            <label>First Name</label>
            <input type="text" #Firstname="ngModel" [(ngModel)]="empModel.Firstname" name="Firstname" class="form-control">
        </div>
        <div>
            <label>Last Name</label>
            <input type="text" #Lastname="ngModel" [(ngModel)]="empModel.Lastname" name="Lastname" class="form-control">
        </div>
        <div>
            <label>Salary</label>
            <input type="text" #Salary="ngModel" [(ngModel)]="empModel.Salary" name="Salary" class="form-control">
        </div>
        <div>
            <label>Department</label>
            <input type="text" #Department="ngModel" [(ngModel)]="empModel.Department" name="Department" class="form-control">
        </div><br>
        <button mat-flat-button color="accent">Submit form</button>
    </form>
</div>

